<div id="printable-card">
  <h1 mat-dialog-title>Parkolókártya</h1>
  <div mat-dialog-content>
    <div class="name">{{ data.name }}</div>
    <div class="email">{{ data.email }}</div>
    <div class="date">{{ data.date | date:"yyyy-MM-dd HH:mm:ss" }}</div>
    <div class="plate">{{ data.plate }}</div>
    <app-plate-qr [value]="data.plate"></app-plate-qr>
  </div>
  <div mat-dialog-actions>
    <button mat-button ngxPrint printSectionId="printable-card" printTitle="Parkolókártya {{ data.name }} részére - {{ data.date | date }}">Nyomtatás</button>
    <button mat-button cdkFocusInitial (click)="closeDialog()">Ok</button>
  </div>
</div>
