.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 200px;
  max-width: 500px;
  margin: auto;
  margin-top: 200px;
  padding: 20px;
  justify-self: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 3px 3px 10px lightgray;

  & h1 {
    text-align: center;
  }
}

mat-form-field {
  width: 50%;
  margin-bottom: auto;
}
