<div class="container">
  <div class="title">Üdvözöllek a VIP Parkolóban!</div>
  <div class="content">
    <mat-form-field>
      <mat-select id="user-select" placeholder="Kérlek, válassz felhasználót!">
        <mat-option *ngFor="let attendant of attendants" value="attendant.name" (click)="selectAttendant(attendant)">{{
          attendant.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-stroked-button (click)="loginWithSelectedUser()">Belépés</button>
  </div>
</div>
