<table>
  <thead>
    <tr>
      <th (click)="sort('name')">Név</th>
      <th (click)="sort('email')">Email</th>
      <th (click)="sort('date')">Parkolás kezdete</th>
      <th (click)="sort('plate')">Rendszám</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of parkings" (click)="openDetailsDialog(p)">
      <td>{{ p.name }}</td>
      <td>{{ p.email }}</td>
      <td>{{ p.date | date:"yyyy-mm-dd HH:mm:ss" }}</td>
      <td>{{ p.plate }}</td>
      <td><button>Távozás</button></td>
    </tr>
    <tr *ngIf="parkings.length === 0">
      <td colspan=5>Nem található a feltételeknek megfelelő parkolás.</td>
    </tr>
  </tbody>
</table>
