<table>
  <thead>
    <tr>
      <th (click)="sort('name')">Név</th>
      <th (click)="sort('email')">Email</th>
      <th (click)="sort('date')">Parkolás kezdete</th>
      <th (click)="sort('plate')">Rendszám</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of parkings">
      <td (click)="openDetailsDialog(p)">{{ p.name }}</td>
      <td (click)="openDetailsDialog(p)">{{ p.email }}</td>
      <td (click)="openDetailsDialog(p)">{{ p.date | date:"yyyy-MM-dd HH:mm:ss" }}</td>
      <td (click)="openDetailsDialog(p)">{{ p.plate }}</td>
      <td><button mat-stroked-button (click)="leaveCar(p)">Távozás</button></td>
    </tr>
    <tr *ngIf="noCarsInLot">
      <td colspan=5>Jelenleg üres a parkoló.</td>
    </tr>
    <tr *ngIf="parkings.length === 0 && !noCarsInLot">
      <td colspan=5>Nem található a feltételeknek megfelelő parkolás.</td>
    </tr>
  </tbody>
</table>
