.container {
  height: 100%;
  padding: 0 30px;
  display: grid;
  grid-template-columns: 40ft 30fr 30fr;
  grid-template-rows: 1fr .5fr 1fr 4fr;
  grid-gap: 20px 20px;

  &>* {
    padding: 30px;
    border: 1px solid lightgray;
  }

  .header {
    grid-column: 1 / 4;
    grid-row: 1;
    margin: auto 0;

    .title {
      text-indent: 30px;
      border-bottom: 1px solid lightgray;
    }
  }

  .cash {
    grid-column: 1;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .cash-display {
      font-size: 24px;

      &>span {
        position: relative;
        left: 50px;
      }
    }
  }

  .chart {
    grid-column: 1;
    grid-row: 4;
    background-color: lightpink;
  }

  .filter {
    grid-column: 2;
    grid-row: 2;
    position: relative;

    i {
      position: absolute;
      top: 38%;
      left: 6.5%;
      color: #44585a8c;
    }

    input {
      border: none;
      outline: none;
      width: 100%;
      border-bottom: 1px solid lightgray;
      font-size: 18px;
      text-indent: 30px;
    }
  }

  .add-parking {
    grid-column: 3;
    grid-row: 2;
    background-color: lightcyan;
  }

  .parking-list {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
  }
}
