<div class="container">

  <div class="header">
    <div class="title">Üdvözlünk, {{ attendant.name }}!</div>
  </div>
  <div class="logout" style="grid-row: 1">
    <div class="clock">{{ clock | date: "HH:mm:ss" }}</div>
    <button mat-stroked-button (click)="logout()"><span><i class="fas fa-sign-out-alt"></i>Kijelentkezés</span></button>
  </div>

  <div class="info-header sub-header">
    <div class="cash-display">Kassza</div>
    <div class="cut-display">Jutalék</div>
    <div class="lot-display">Szabad helyek száma</div>
  </div>
  <div class="info">
    <div class=cash>{{ cash | number }} Ft</div>
    <div class="cut">{{ attendant.cut | number }} Ft</div>
    <div class="lot">{{ 10 - numberOfFilledSpots }}</div>
  </div>

  <div class="chart-header sub-header">
    <div>Forgalmi statisztikák</div>
  </div>
  <div class="chart">
    <mat-form-field>
      <input id="date" placeholder="Válassz dátumot!" [max]="today" [value]="today" [(ngModel)]="selectedDate"
        [matDatepicker]="datepicker" readonly matInput>
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>
    <app-hourly-chart *ngIf="parkings" [data]="parkings" [date]="selectedDate"></app-hourly-chart>
  </div>

  <div class="filter">
    <span>
      <i class="fas fa-search"></i>
      <input #filter type="text" placeholder="Keresés" (keyup)="filterParkings()">
    </span>
  </div>

  <div class="add-parking">
    <button mat-stroked-button (click)="openAddParkingDialog()"><span><i class="fas fa-plus-circle"></i>Új parkolás
        rögzítése</span></button>
  </div>

  <div class="parking-list">
    <app-parking-table *ngIf="parkings" [parkings]="filteredParkings" [noCarsInLot]="parkings.length === 0"
      (leaveEmitter)="leaveCar($event)"></app-parking-table>
  </div>

</div>
