<div class="container">

  <div class="header">
    <div class="title">Üdvözlünk, {{ attendant.name }}!</div>
  </div>

  <div class="cash">
    <div class="cash-display">Kassza: <span>{{ cash | number }} Ft</span></div>
    <div class="cash-display">Jutalék: <span>{{ attendant.cut }} Ft</span></div>
    <div class="cash-display">Szabad helyek száma: {{ 10 - numberOfFilledSpots }}</div>
  </div>

  <div class="chart">Grafikon</div>

  <div class="filter">
    <i class="fas fa-search"></i>
    <input #filter type="text" placeholder="Szűrés" (keyup)="filterParkings()">
  </div>

  <div class="add-parking">
    <div><button (click)="openAddParkingDialog()">Hozzáadás</button></div>
  </div>

  <div class="parking-list">
    <app-parking-table *ngIf="parkings" [parkings]="filteredParkings" [noCarsInLot]="parkings.length === 0"
      (leaveEmitter)="leaveCar($event)"></app-parking-table>
  </div>

</div>
