$fa-font-path: 'assets/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import 'variables';

html,
body {
  height: 100%;
  background-color: $background-color;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.title {
  font-size: 26px;
  font-weight: 500;
  margin: 15px 0;
  cursor: default;
}

.sub-header {
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: $outer-color;
  border-radius: 8px 8px 0 0;
  font-size: 20px;
  font-weight: 700;
  cursor: default;
}
