$fa-font-path: 'assets/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import 'variables';

html,
body {
  height: 100%;
  background-color: $inner-color;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin: 15px 0;
}
